:root{
  --bitcoin: #f2a90076;
  --eth: #48cbd976;
  --tether: #26a17a76;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    color: #333;
}

.container {
  padding: 0 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

i{
  font-size: 44px;
}
.bitcoin{
    background-color: var(--bitcoin);
}
.eth{
    background-color: var(--eth);
}
.tether{
    background-color: var(--tether);
}